/**
 * Un-approved styles.
 */

body.kent-global-nav {
	#headerwrap,
	.usermenu,
	#page #page-header #headerwrap .usermenu .moodle-actionmenu .menubar > li > a {
		text-align: center;
	}

	#contentwrapper {
		float: left;
	}

	#global-nav {
		background-color: @navbar-default-bg;
	    position: fixed;
	    top: 45px;
	    bottom: 0;
	}
}
