/*
 * This provides forms styles.
 */

label {
	font-size: 14px;
	font-weight: normal;
}

form, .mform {
	fieldset {
		border: 0 !important;
		background: none;
		margin-bottom: 10px;

		&.hidden {
			display: block !important;
		}

		&.collapsed {
			border-color: transparent !important;
			background: none;

			legend {
				margin-bottom: 0px;
			}
		}

		legend {
			width: auto;
			border: 0;
		}
	}

	.fitemtitle {
		padding-right: 5px;

		label {
			font-weight: bold;
		}
	}

	.fitem {
		clear: both;
	}

	.fitem_actionbuttons {
		margin-top: 10px;
	}

	input[type="submit"],
	input[type="button"],
	button.submit,
	button[type="submit"] {
		.btn();
		.btn-primary();
		text-shadow: none;
		box-shadow: none;

		&.fp-btn-choose {
			margin-bottom: 5px;
		}
	}

	input[name=cancel] {
		.btn();
		.btn-danger();
	}

	textarea {
		height: auto;
	}

	select {
		width: auto;
		max-width: 100%;
  		display: inline-block;

  		&[multiple],
  		&[size] {
  			height: auto;
  		}
	}

	img.iconhelp,
	.helplink img {
		vertical-align: middle;
	}

	select,
	textarea,
	input[type=text],
	input[type=password],
	input[type=datetime],
	input[type=datetime-local],
	input[type=date],
	input[type=month],
	input[type=time],
	input[type=week],
	input[type=number],
	input[type=email],
	input[type=url],
	input[type=search],
	input[type=tel],
	input[type=color] {
		.form-control();
	}
}

&#page-enrol-users #filterform {
	margin-bottom: 5px;

	fieldset > div {
		background: none;
	}

	input, select, textarea {
		display: inline-block;
		width: auto;
	}

	input[type=submit] {
		width: auto;
	}

	.fitem {
		display: inline-block;
	}

	.fitem_fgroup, .fgroup {
		display: block;
	}
}

.logselecform {
    select {
        margin-right: 5px;
        width: auto;
        display: inline-block;
        float: left;
    }

    input[type="submit"] {
		display: block;
        clear: both;
    }
}

.forumsearch {
	margin: 3px 3px 0 0;

	.helptooltip {
		display: none;
	}

	#search {
	  	float: left;
  		width: auto;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	button {
		.btn();
		.btn-default();
		text-shadow: none;
		box-shadow: none;

		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-left: 0;
	}
}

#coursecat-management {
	#course-category-listings {
		h3 {
			padding: 10px 15px;
		}

		.detail-pair {
			margin: 0;
			padding: 10px 0;

			> * {
				line-height: inherit;
				width: 100% !important;
			}

			.pair-value {
				margin-left: 15px !important;
			}
		}
	}
}

.ui-dialog-buttonset button {
	.btn();
	.btn-primary();
	text-shadow: none;
	box-shadow: none;
}

.pendingcourserequests {
	.cell > .singlebutton:first-child {
		margin-bottom: 10px !important;
	}
}

&.path-grade-edit-outcome {
	.courseoutcomes {
		select {
			min-width: 150px;
		}

		.arrow_button {
			input {
				margin-bottom: 10px;
			}
		}
	}
}

.capabilitysearchui {
	margin-bottom: 5px;

	label {
		margin-right: 5px;
	}

	input[type=text] {
		.form-control();
		margin-bottom: 5px;
	}

	input[type=button] {
		.btn();
		.btn-primary();
		text-shadow: none;
		box-shadow: none;
	}
}

.form-autocomplete-selection [role=listitem].label {
    background-color: #eee;
    border: 1px solid #ccc;
    color: #333;
    padding: 5px;
    font-weight: normal;
    font-size: 85%;
}

.fautocomplete {
    position: relative;

    ul.form-autocomplete-suggestions {
        width: 100%;
        border-radius: 0;
        margin-top: 0;
        background-color: #eee;
        border: 1px solid #ccc;

        li:hover {
            color: #333;
            background-color: #CCC;
        }
    }
}

input#repaginatecommand {
	.btn();
	.btn-primary();
	text-shadow: none;
	box-shadow: none;
}

#groupeditform {
	> div > table {
		width: 100%;

		> tbody > tr {
			background: none;

			td {
				border: none;
			}
		}
	}

	input[type=submit] {
		.btn();
		.btn-default();
	}

	select {
		min-width: 50%;
	}
}
