/**
 * Mod styles.
 */

.mod_turnitintooltwo {
    .dataTables_wrapper {
        table.dataTable {
            th, td {
                padding-left: 0;
                padding-right: 0;
            }
        }

        table.submissionsDataTable {
            > td.sorting_1 {
                word-break: break-all;
            }
        }
    }

    .ui-tabs {
        .ui-tabs-nav {
            padding: 0;
            background: 0;

            border: 0;
            border-top: 1px solid #AAA;

            border-radius: @border-radius-base;
        }
    }

    .tii_links_container {
        .turnitin_submit_error,
        .turnitin_submit_success {
            display: none;
        }
    }
}

&.path-mod-turnitintooltwo {
    #colorbox {
        position: fixed !important;
        top: 50px !important;
    }

    #cboxContent {
        margin: 0;

        #cboxClose {
            display: none !important;
        }
    }

    #colorbox.upload {
        right: 0;
        left: 0 !important;
        margin-right: auto;
        margin-left: auto;

        &,
        > #cboxWrapper,
        > #cboxWrapper > div > #cboxMiddleLeft,
        > #cboxWrapper > div > #cboxContent,
        > #cboxWrapper > div > #cboxContent > #cboxLoadedContent {
            min-height: 160px;
        }

        &,
        > #cboxWrapper,
        > #cboxWrapper > div > #cboxContent,
        > #cboxWrapper > div > #cboxContent > #cboxLoadedContent {
            min-width: 1140px;
        }
    }
}

&.tii-box {
    background: none !important;

    #page {
        padding-top: 10px;

        > .row {
            margin: 0;
        }

        #main-region {
            margin: 0 auto;
            float: none;
        }
    }
}

// Quiz fix.
&#page-mod-quiz-edit .questionbankwindow.block div.header div.title h2 {
    color: #333;
}

// Grader fix.
&.path-grade-report-grader {
    .gradeparent {
        overflow: auto;
    }
}

// Data tables.
.dataTables_wrapper {
    .dataTables_info,
    .dataTables_paginate {
        width: auto;
        margin-top: 0;
        bottom: 0;

        .paginate_button {
            display: inline;

            &.disabled {
                background: #CCC;
                color: #333 !important;

                &:hover {
                    background: #CCC;
                }
            }
        }
    }

    table.dataTable {
        max-width: 100% !important;
    }
}

.forumpost .row {
    margin: 0;
}