/*
 * Kent Navbar Stylesheet.
 */

&.kent-navbar {
    #kent-bar {
        display: block;
    }

    #dock {
        padding-top: 46px;
    }

    .headermenu {
        display: none;
    }
}

#kent-bar {
    display: none;
}