/*
 * Kent Navbar Stylesheet.
 */

#kent-bar {
    display: none;
}

body.kent-navbar {
    #kent-bar {
        display: block;
    }

    #dock {
        padding-top: 46px;
    }

    .headermenu {
        display: none;
    }
}
