/*
 * This provides tables styles.
 */

table, table.generaltable, table.flexible {
	.table();
	.table-bordered();
	.table-striped();
	.table-hover();
}

table.flexible {
	.table-responsive();
}

tr.r1 td {
	background: none;
}

&#page-report-progress-index #completion-progress,
.environmenttable {
	th,
	td,
	.cell {
		padding: @table-cell-padding;
		border-top: 1px solid @table-border-color;
	}
}

.calendartable {
	border: 0;
}

.dataTables_wrapper {
    .dataTables_info,
    .dataTables_paginate {
        width: auto;
        margin-top: 0;
        bottom: 0;

		.paginate_button {
            display: inline;

            &.disabled {
				display: none;
            }
		}
	}

    table.dataTable {
        max-width: 100% !important;
    }
}
