/*
 * YUI Styles.
 */

&.yui3-skin-sam {
	.yui3-tabview-list {
		.nav-tabs();

		.yui3-tab {
			border: 1px solid transparent;

			&.yui3-tab-selected,
			&:hover,
			&:focus {
				color: @nav-tabs-active-link-hover-color;
				background-color: @nav-tabs-active-link-hover-bg;
				border-color: @nav-tabs-active-link-hover-border-color;
				border-bottom-color: transparent;
				border-radius: @border-radius-base @border-radius-base 0 0;
			}

			.yui3-tab-label {
				color: @kent-corp-primary;
				background: none;
				line-height: @line-height-base;
				border: 1px solid transparent;
				border-radius: @border-radius-base @border-radius-base 0 0;
				font-size: inherit;

				&:hover,
				&:focus {
					cursor: pointer;
				}
			}
		}
	}
}

.moodle-dialogue-base {
	.moodle-dialogue-lightbox {
		background-color: rgba(0, 0, 0, 0.8);
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-filter: "alpha(opacity=100)";
	}

	.moodle-dialogue-wrap {
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		border-radius: @border-radius-base;

		.moodle-dialogue-hd, .moodle-dialogue-hd.yui3-widget-hd {
			background: none;
			border-radius: 0;
			font-size: 14px;
		}

		.moodle-dialogue-bd {
			background: none;
		}
	}

	.chooserdialogue-course-modchooser {
		.choosercontainer {
			#chooseform {
				.alloptions {
					box-shadow: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;

					.option {
						input[type=radio] {
							margin: 0;
						}
					}

			        .nonoption {
			            padding-left: 30px;
			            padding-bottom: 5px;
			        }

			        .subtype {
			            padding-left: 75px;
			        }
				}
			}
		}
	}
}