body {
	background: #FFF !important;
}

#menuwrap {
	overflow: hidden;
}

.yui3-skin-sam {
	.yui3-menu-horizontal {
		.yui3-menu-label, .yui3-menuitem-content {
			border: 0;
		}
	}
}

#menuitemswrap {
	#custommenu {
		.yui3-menuitem-active {
			background: none;

			.yui3-menuitem-content {
				background: none;
			}
		}
	}
}