
body {
   background : #FFFFFF !important;
}

#graphicwrap {
	width : 100%;
	padding-top : 10px;
}

#menuwrap {
	/*width : 960px;*/
	min-width : 760px;
	max-width : 100%;
	margin-left : auto;
	margin-right : auto;
	clear : both;
	background : #333333;
}

#page {
	padding: 0;
}

#page .headermenu {
	margin: 0;
}

#headerwrap {
	max-width: 100%;
	background-image: none!important;
	background-color: #EFEFEF;
}

#jcontrols_button, #menuwrap, #headerwrap, #page-content, #page-footer #footerwrapper {
	border: none;
	margin: 0;
}

#contentwrapper, #page-content, div#jcontrols_button, #profilebar, #page-footer #footerwrapper {
	max-width : 100%;
	background-image: none !important;
}

div#jcontrols_button {
	background-color: #EFEFEF;
	border-bottom: 1px solid #CCC;
}

#page-footer {
	overflow: hidden;
}

#page-footer #footerwrapper {
	border-top: 1px solid #CCC;
}

.block_private_files .singlebutton input[type=submit] {
	white-space: normal;
}

#ebutton {
	margin-top: 3px;
}

/** New header styles */

#headerwrap, #logowrap, #logowrap img#logo {
	height: 70px;
}

#logowrap img#logo {
	margin-top: 1px;
}

#profilepic, #profilepic img {
	margin: 0;
	border: none;
	height: 70px;
	width: 70px;
}

#profilename {
	margin-top: 30px;
}

#profilename a {
	color: #333333;
}

.profilebar_block {
	display: none;
}

#menuwrap .yui3-menu-horizontal .yui3-menuitem .yui3-menuitem-content {
	height:26px;
	padding-top: 12px !important;
	border: 0;
}

#menuwrap .yui3-menu-horizontal .yui3-menuitem-active .yui3-menuitem-content,
#menuwrap .yui3-menu-content li:hover {
	background-color: #222 !important;
}

#profilelogin {
	margin-top: 35px;
}

#profilelogin #login ul {
	margin: 0 15px;
}
