.hideonprinter, #kent-bar, #headerwrap, #menuwrap, #region-pre, #footerwrap, #jcontrols_button, #page-footer {
    display: none !important;
}

#page-content {
    #region-main-wrap,
    #region-main-box,
    #region-post-box,
    #region-main,
    #region-main .region-content,
    #region-main,
    #mainpadder {
        margin: 0px;
        padding: 0px;
        width: 100%;
        float: none;
        left: 0;
    }

    #mainpadder {
        width: 94%;
        float: left;
    }
}

#region-pre, #region-post {
    display: none !important;
}

#main-region {
    width: 100% !important;
}
