/**
 * Taskchain styles.
 */

&.path-mod-taskchain {
    #ClozeDiv {
        input, textarea {
            width: auto;
            display: initial;
        }
    }
}

&#page-mod-taskchain-attempt {
    input, textarea {
        width: 100%;
    }
}
