/*
 * Future Stylesheet.
 *
 * This provides forms styles.
 * 
 * @future
 */

.mform {
	fieldset {
		border: 0 !important;
		background: none;

		&.hidden {
			display: block !important;
		}
	}

	label {
		font-weight: normal;
	}

	.fitemtitle {
		label {
			font-weight: bold;
		}
	}
}
