/*
 * Future Stylesheet.
 *
 * This provides basic page structure.
 * 
 * @future
 */

#page {
    .container();
    padding-top: 0;

	#page-header {
		padding: 5px 0;

		#headerwrap {
		    height: 50px;
		    .row();

		    .brand {
		        color: @kent-corp-primary;
		        font-size: 34px;
		        margin-top: 2px;

                @media (max-width: @screen-xs-max) {
                	text-align: center;
                }
		    }

		    .usermenu {
		    	float: none;
		        position: relative;
		        height: 100%;

		        .login {
		            display: block;
		            margin-top: 15px;
		        }

		        .moodle-actionmenu {
		            .menubar {
		                margin: 0;

		                & > li {
		                    width: 100%;

		                    & > a {
		                        padding: 0;
		                        text-align: right;

		                        @media (max-width: @screen-xs-max) {
		                        	text-align: center;
		                        }
		                    }
		                }
		            }

		            .toggle-display {
		                height: auto;

		                .userbutton {
		                    display: block;
		                    height: auto;

		                    .usertext {
		                        color: @kent-corp-primary;
		                        font-size: 21px;
		                        line-height: 25px;
								padding-top: 10px;
		                    }

		                    .avatars {
		                    	position: relative;
		                        vertical-align: top;
		                        margin-right: 0;
		                        height: auto;
		                        width: auto;
		                    }
		                }

		                .caret {
		                    display: none;
		                }
		            }

		            &.show {
		                height: 100%;

		                .menu {
		                    border-radius: @border-radius-generic;
		                }
		            }
		        }
		    }
		}
	}

	.navbar .breadcrumb {
	    margin: 5px 0;
	    padding: 0;
    	text-transform: capitalize;

	    ul {
	        line-height: 15px;
	    }

	    > li+li:before {
	        padding: 0 0 0 5px;
	    }

	    span.arrow.sep {
	        width: auto;
	        padding: 0 5px;
	        background: none;
	        font-size: 13px;
	        color: #333;
	    }
	}

	#contentwrapper {
	    .row();

	    #page-content {
	        border: 0;

	        .region-content {
	            padding: 0;
	        }
	    }
	}

	#page-footer {
		margin-top: 10px;

		#footerwrapper {
			border-color: @border-color;
		
			.col-xs-12 {
				&.text-left,
				&.text-right {
	                @media (max-width: @screen-xs-max) {
	                	text-align: center;
	                }
				}
			}
		}

	    .performanceinfo {
	        margin: 0;

	        .cachesused .cache-definition-stats {
	            border: 1px solid @border-color;
	            border-radius: @border-radius-generic;
	            background: none;
	            margin: 10px 5px;

	            span {
	                padding: 5px;
	                font-size: 13px;

	                &.cache-definition-stats-heading {
	                    background: none;
	                }

	                &.cache-store-stats {
	                    &.highhits {
	                        background-color: @success-bg-color;
	                        color: @success-text-color;
	                    }

	                    &.lowhits {
	                        background-color: @warning-bg-color;
	                        color: @warning-text-color;
	                    }

	                    &.nohits {
	                        background-color: @error-bg-color;
	                        color: @error-text-color;
	                    }
	                }
	            }
	        }
	    }
	}
}

&.userloggedinas {
	#page {
		#page-header {
			#headerwrap {
				.usermenu {
					.moodle-actionmenu {
						.toggle-display {
							.userbutton {
								.usertext {
									padding-top: 0;
								}

			                    .avatars {
			                        .avatar {
			                        	&.current {
			                        		position: absolute;
											width: 40px;
											height: 40px;
											top: 5px;
											left: 5px;
											margin-top: 0;
			                        	}
			                        }
			                    }
							}
						}
					}
				}
			}
		}
	}
}