/**
 * Block styles.
 * 
 * @future
 */

.block_course_overview {
    .content {
        margin: 0;
    }
}

.block_private_files {
    div.generalbox {
        border: 0;
        padding-bottom: 10px;
    }

    .singlebutton input[type=submit] {
        white-space: normal;
    }
}