/**
 * Calendar block styles.
 */

.block.block_calendar_month {
    .filters,
    .eventskey {
        display: none;
    }


    table.minicalendar {
        margin: 0;

        &.calendartable {
            tr {
                background: none;
            }

            th, td {
                border: none;
                padding: 5px 0;

                &.hasevent {
                    padding: 0;

                    a {
                        padding: 5px 0;
                    }
                }
            }
        }
    }
}

.calendar-event-panel {
    background: transparent;
    border: none;

    .yui3-overlay-content {
        h2.eventtitle {
            font-size: 16px;
        }

        .eventcontent {
            .smallicon {
                width: 24px;
                height: 24px;
            }

            a {
                margin-left: 5px;
            }
        }
    }
}
